

/* icons for ConfigNode */

.xygtvtn {background: transparent;  width:1em; height:20px; }
.xygtvln { background: transparent; width:1em; height:20px; }
.xygtvtm { background: url(../img/tree/collapse.gif) 0 6px no-repeat; width:1em; height:22px; cursor:pointer }
.xygtvlm { background: url(../img/tree/collapse.gif) 0 6px no-repeat; width:1em; height:22px; cursor:pointer }
.xygtvtp { background: url(../img/tree/expand.gif) 0 6px no-repeat; width:1em; height:22px; cursor:pointer }
.xygtvlp { background: url(../img/tree/expand.gif) 0 6px no-repeat; width:1em; height:22px; cursor:pointer }
.xygtvtph { background: url(../img/tree/expandh.gif) 0 6px no-repeat; width:1em; height:22px; cursor:pointer }
.xygtvlph { background: url(../img/tree/expandh.gif) 0 6px no-repeat; width:1em; height:22px; cursor:pointer }
.xygtvlmh { background: url(../img/tree/collapseh.gif) 0 6px no-repeat; width:1em; height:22px; cursor:pointer }
.xygtvtmh { background: url(../img/tree/collapseh.gif) 0 6px no-repeat; width:1em; height:22px; cursor:pointer }

.color0 { background:white; }
.color1 { background:#EFEEEA;}
.color2 { background-color:#FFE19A; }

html, body { background:#e5e5e5;}


.yui-skin-sam .yui-navset .yui-content { 
	background:#ebebf0; 
	padding:0px; 
}

.icon-gen, .icon-gen:link, .icon-gen:visited, .icon-gen:hover  { 
	padding-left: 20px; 
	background: transparent url(../img/icons.png) 0 -108px no-repeat; 	
	text-decoration: none;
}

div.dropDownButton {
  background-image:url(../img/tree/expand.gif); 
  background-repeat:no-repeat; 
  background-position:left center; 
  padding-left:12px;
  font-weight:bolder;
  cursor:pointer;
}

.mayorInfo {
  color:green;
}
