

html, body { 
	background:#f8f8f8;
	padding: 0px;
	margin: 0px;
}

body {
	font:13px/1.231 arial,helvetica,clean,sans-serif;
	*font-size:small; /* for IE */
	*font:x-small; /* for IE in quirks mode */
}

