

/* icons for ConfigNode */

.xygtvtn {background: transparent;  width:1em; height:20px; }
.xygtvln { background: transparent; width:1em; height:20px; }
.xygtvtm { background: url(../img/tree/collapse.gif) 0 6px no-repeat; width:1em; height:22px; cursor:pointer }
.xygtvlm { background: url(../img/tree/collapse.gif) 0 6px no-repeat; width:1em; height:22px; cursor:pointer }
.xygtvtp { background: url(../img/tree/expand.gif) 0 6px no-repeat; width:1em; height:22px; cursor:pointer }
.xygtvlp { background: url(../img/tree/expand.gif) 0 6px no-repeat; width:1em; height:22px; cursor:pointer }
.xygtvtph { background: url(../img/tree/expandh.gif) 0 6px no-repeat; width:1em; height:22px; cursor:pointer }
.xygtvlph { background: url(../img/tree/expandh.gif) 0 6px no-repeat; width:1em; height:22px; cursor:pointer }
.xygtvlmh { background: url(../img/tree/collapseh.gif) 0 6px no-repeat; width:1em; height:22px; cursor:pointer }
.xygtvtmh { background: url(../img/tree/collapseh.gif) 0 6px no-repeat; width:1em; height:22px; cursor:pointer }

html, body { background:#e5e5e5;}

.yui-skin-sam .yui-navset .yui-content { 
	background:#ebebf0; 
	padding:0px; 
}

.icon-gen, .icon-gen:link, .icon-gen:visited, .icon-gen:hover  { 
	padding-left: 20px; 
	background: transparent url(../img/icons.png) 0 -108px no-repeat; 	
	text-decoration: none;
}

.mayorInfo {
  color:green;
}

.skin1 .tree1 {
	background:white;
	border-width:1px;
	border-style:solid;
}

.skin1.tab1,
.skin1 .tab1,
.skin1 .yui-navset .yui-nav .selected a,
.skin1 .yui-navset .yui-nav .selected a em,
.skin1 .webfx-columnlist-body tr.odd td {
	background:   #EFEEEA;
}


.skin1 .webfx-columnlist {
border: 0px;
}

.skin1 .webfx-columnlist-head {
	background: #E5E5D0;
}

.skin1 .webfx-columnlist-body tr.selected td {
	background: #E5E5CE;
}
	
.skin1 .header1 {
	background:   #F2D685;
}

/* get rid of link focus borders in firefox */
.skin1 :focus {
	-moz-outline-style: none;
}

.skin1 .yui-navset .yui-nav li {
    margin:0 0.16em 0 0; /* space between tabs */
    padding:1px 0 0; /* gecko: make room for overflow */
    zoom:1;
}

.skin1 .yui-navset .yui-nav li.selected {
	margin-bottom: -1px;	/* hide bottom border on selected tab */
}

.skin1 .yui-navset .yui-nav .selected a:hover {
	border-color: #999;
}

.skin1 .yui-navset .yui-nav .selected,
.skin1 .yui-navset .yui-navset-top .yui-nav .selected { 
    margin:0 0.16em -1px 0; /* for overlap */
}

.skin1 .yui-navset .yui-nav a {
    border:solid #ccc;
    border-width:0 1px;
 	color: #666;
    position:relative;
    text-decoration:none;
}

.skin1 .yui-navset .yui-nav a em {
	border:solid #ccc;
    border-width:1px 0 0;
    cursor:hand;
    padding:0.1em .3em;
    left:0; right: 0; bottom: 0; /* protect from other orientations */
    top:-1px; /* for 1px rounded corners */
    position:relative;
}

.skin1 .yui-navset .yui-nav .selected a em {
    padding:0.3em 0.4em; /* raise selected tab */
}

.skin1,
.skin1 .tree1,
.skin1 .header1,
.skin1 .yui-content,
.skin1 .yui-nav,
.skin1 .yui-navset .yui-nav .selected a,
.skin1 .yui-navset .yui-nav .selected a em,
.skin1 .yui-navset .yui-nav .selected a:focus,
.skin1 .yui-navset .yui-nav .selected a:focus em,
.skin1 .yui-navset .yui-nav .selected a:active,
.skin1 .yui-navset .yui-nav .selected a:active em {
		border-color: #B6CDE1;
}


.skin1 .yui-navset .yui-nav .selected a,
.skin1 .yui-navset .yui-nav .selected a em {
	color: #555;
	font-weight: bold;
}


.skin1 .yui-navset .yui-nav .selected a:hover,
.skin1 .yui-navset .yui-nav .selected a:hover em,
.skin1 .yui-navset .yui-nav a:hover,
.skin1 .yui-navset .yui-nav a:hover em,
.skin1 .yui-navset .yui-nav a:focus,
.skin1 .yui-navset .yui-nav a:focus em {
	color: #000;
	border-color: #999;
	font-weight: bold;
}

.skin1 .yui-navset .yui-nav .selected a:visited {
	border-color: red;
}

.skin1 .yui-navset .yui-nav .disabled a {
    border: 0px;
}





