.webfx-columnlist {
	border: 1px solid;
	border-color: threedshadow threedhighlight threedhighlight threedshadow;
	overflow: hidden;
	display: block;
	-moz-user-select: none;
	-moz-user-focus: normal;
	-moz-user-input: enabled;
}

.webfx-columnlist td {
	font: menu;
	padding: 1px;
	white-space: nowrap;
}

.webfx-columnlist-head {
	position: absolute;
	background: #FFE19A;
	overflow: hidden;
	-moz-user-select: none;
}

.webfx-columnlist-head table {
	table-layout: fixed;
}

.webfx-columnlist-head td {
	border: 1px solid;
	border-color: threedhighlight threedshadow threedshadow threedhighlight;
	overflow: hidden;
	text-overflow: ellipsis;
}

.webfx-columnlist-head td img {
	width:    8px;
	height:   7px;
	margin:   0px 5px 0px 5px;
	display:  none;
}

.webfx-columnlist-body {
	border: 1px solid;
	border-color: threedhighlight threedface threedface threedhighlight;
	background: window;
	overflow: auto;
}

.webfx-columnlist-body table {
	table-layout: fixed;
}

.webfx-columnlist-body td {
	border-bottom: solid white;
	border-width:  0px 1px 1px 0px;
	overflow:      hidden;
	text-overflow: ellipsis;
	white-space:   no-wrap;
}

.webfx-columnlist-body tr.selected td {
	background:   #C0C0FF;
}

.webfx-columnlist-body tr.odd td {
	background:   #E9ECF6;
}

.webfx-columnlist-body tr.even td {
	background:   window;
}

.webfx-columnlist-move-header {
	position: absolute;
	background: threedshadow;
	top: 0px;
	font: menu;
	padding: 2px;
	height: 1em;
	filter: Alpha(Opacity=50);
	-moz-opacity: 0.5;
	-moz-user-select: none;
}

.webfx-columnlist-active-header {
	border-color: threedface !important;
}

.webfx-columnlist-separator-header {
	position: absolute;
	top: 0px;
	left: 10px;
	font: menu;
	height: 1em;
	width: 1px;
	overflow: hidden;
	background: blue;
	padding: 3px 0px;
}
